<div class="single">
    <div class="wrapper">
        <div class="singleHeader">
            <h2>{{singleData.title}}</h2>
            <div class="buttons">
                <button>
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button id="deleteButton">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div> 
        </div> 
        <img src="{{singleData.path}}" alt="Image" class="singleImage">
        <p>{{singleData.content}}</p>  

        <div class="singleFooter">
            <span>{{singleData.name}}</span>
            <span>{{singleData.date}}</span>
        </div>
    </div>
</div>
<script>
    const deleteButton = document.getElementById('deleteButton');
    deleteButton.addEventListener('click',()=>{
        let url = window.location.href;
        url = url.split('single/')[1];
        console.log(url);
        fetch(`/single/${url}`,{
            method: 'delete'
        }).then(res=>res.json())
        .then((res)=>{
           if(res.case){
                setTimeout(()=>{
                    window.location.href = '/';
                },1000 * 2)
           }
        
        })
    })
    
    
   
</script>